# Load and Explore the Dataset

In [1]:
# Import pandas and numpy packages
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
df=pd.read_csv('../data/raw/beer_reviews.csv')

In [3]:
# Display first 5 rows
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [4]:
# Display the summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [5]:
# Display the shape fo df
df.shape

(1586614, 13)

In [6]:
# Display the descriptive statistics of df
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [7]:
# Count of records for unique values in target variable
df['beer_style'].value_counts()

American IPA                        117586
American Double / Imperial IPA       85977
American Pale Ale (APA)              63469
Russian Imperial Stout               54129
American Double / Imperial Stout     50705
                                     ...
Gose                                   686
Faro                                   609
Roggenbier                             466
Kvass                                  297
Happoshu                               241
Name: beer_style, Length: 104, dtype: int64

# Prepare Data

In [8]:
# Create a copy of df and save it into a variable called df_cleaned
df_cleaned=df.copy()

In [9]:
df_cleaned.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [10]:
# Remove the columns of brewery_id, beer_beerid, review_time, review_profilename, beer_name
df_cleaned.drop(['brewery_id','beer_beerid','review_time','review_profilename','beer_name','review_overall'], axis=1,inplace=True)

In [11]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 7 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   brewery_name       1586599 non-null  object
 1   review_aroma       1586614 non-null  float64
 2   review_appearance  1586614 non-null  float64
 3   beer_style         1586614 non-null  object
 4   review_palate      1586614 non-null  float64
 5   review_taste       1586614 non-null  float64
 6   beer_abv           1518829 non-null  float64
dtypes: float64(5), object(2)
memory usage: 84.7+ MB

In [12]:
# Drop the rows where brewery_name is missing
df_cleaned.dropna(subset=['brewery_name'],inplace=True)

In [13]:
# Replace the null values in beer_abv column with its median
df_cleaned['beer_abv']=df_cleaned['beer_abv'].fillna(df_cleaned['beer_abv'].median())

In [14]:
# Stratified sampling 1% data using the 'beer_style' as the stratifying column
df_cleaned=df_cleaned.groupby('beer_style', group_keys=False).apply(lambda x: x.sample(frac=0.01))

In [15]:
# Reset the indexes of the dataframe
df_cleaned.reset_index(drop=True,inplace=True)

In [16]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15863 entries, 0 to 15862
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brewery_name       15863 non-null  object
 1   review_aroma       15863 non-null  float64
 2   review_appearance  15863 non-null  float64
 3   beer_style         15863 non-null  object
 4   review_palate      15863 non-null  float64
 5   review_taste       15863 non-null  float64
 6   beer_abv           15863 non-null  float64
dtypes: float64(5), object(2)
memory usage: 867.6+ KB

In [17]:
df_cleaned.drop('brewery_name',axis=1,inplace=True)

In [18]:
df_cleaned.head()

,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv
0,2.5,3.0,Altbier,4.0,3.5,4.6
1,3.0,4.0,Altbier,4.0,4.5,6.5
2,4.0,4.0,Altbier,3.5,4.0,5.3
3,3.5,4.0,Altbier,3.5,4.0,5.0
4,3.0,4.0,Altbier,3.5,3.0,5.5

In [19]:
# Import StandardScaler, OneHotEncoder and OrdinalEncoder from sklearn.preprocessing
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [20]:
# Create a list called num_cols
num_cols=['review_aroma','review_appearance','review_palate','review_taste','beer_abv']

In [21]:
# Instantiate a StandardScaler and called it sc
sc=StandardScaler()

In [22]:
sc_model=sc.fit(df_cleaned[num_cols])

In [23]:
from joblib import dump
dump(sc_model,"../models/sc_model.joblib")

['../models/sc_model.joblib']

In [24]:
# Fit and transform the numeric feature of df_cleaned and replace the data into it
df_cleaned[num_cols]=sc_model.transform(df_cleaned[num_cols])

In [25]:
# Instantiate a OrdinalEncoder and called it oe
le=LabelEncoder()

In [26]:
le_model=le.fit(df_cleaned['beer_style'])

In [27]:
dump(le_model,"../models/le_model.joblib")

['../models/le_model.joblib']

In [28]:
df_cleaned['beer_style']=le_model.transform(df_cleaned[['beer_style']])

c:\Users\yymoc\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [414]:
# df_cleaned[df_cleaned['brewery_name']=='Vecchio Birraio']

In [385]:
# Create a list called cat_cols
# cat_cols=['brewery_name']

In [386]:
# Instantiate a OneHotEncoder and called it ohe
# ohe=OneHotEncoder(sparse=False)

In [387]:
# ohe_model=ohe.fit(df_cleaned[cat_cols])

In [29]:
# from joblib import dump
# dump(ohe_model,"../models/ohe_model.joblib")

In [340]:
# Perform One-Hot encoding on 'brewery_name' column and save them into a dataframe called 'X_cat'
# X_cat=pd.DataFrame(ohe_model.transform(df_cleaned[cat_cols]))

In [415]:
# X_cat

In [342]:
# Extract the feature names from ohe and replace the names of the columns of the 'X_cat'
# X_cat.columns=ohe.get_feature_names_out(cat_cols)

In [343]:
# Drop the original column of cat_cols from df_cleaned
# df_cleaned.drop(cat_cols,axis=1,inplace=True)

In [344]:
#  Concatenate df_cleaned with X_cat and save the result to a variable called X
# X=pd.concat([df_cleaned,X_cat],axis=1)

In [418]:
# X.head()

In [30]:
%load_ext autoreload
%autoreload 2

In [31]:
# Import split_sets_by_time and save_sets from src.data.sets
import sys
sys.path.insert(1, '..')
from src.data.sets import split_sets_random, save_sets

In [267]:
# Split the data into training and testing sets with 80-20 ratio
# X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(X, target_col='beer_style', test_ratio=0.2)

In [32]:
# Split the data into training and testing sets with 80-20 ratio
X_train, y_train, X_val, y_val, X_test, y_test = split_sets_random(df_cleaned, target_col='beer_style', test_ratio=0.2)

In [33]:
# Save the sets in the data/processed folder
save_sets(X_train=X_train, y_train=y_train, X_val=X_val, y_val=y_val, X_test=X_test, y_test=y_test, path='../data/processed/')

In [34]:
# Import from src/models/pytorch and convert all sets to PytorchDataset
from src.models.pytorch import PytorchDataset

train_dataset = PytorchDataset(X=X_train, y=y_train)
val_dataset = PytorchDataset(X=X_val, y=y_val)
test_dataset = PytorchDataset(X=X_test, y=y_test)

# Baseline Model

In [35]:
# Import NullModel from src.models.null
from src.models.null import NullModel

In [36]:
# Instantiate a NullModel and call .fit_predict() on the training target to extract your predictions into a variable called y_base
baseline_model=NullModel(target_type='classification')
y_base=baseline_model.fit_predict(y_train)

In [38]:
# Display the accuracy and F1 scores of the baseline model on the training set
from src.models.performance import print_class_perf

print_class_perf(y_preds=y_base, y_actuals=y_train, set_name='Training', average='weighted')

Accuracy Training: 0.07449826626037617
F1 Training: 0.010330387400470703

# Define Architecture

In [39]:
import torch
import torch.nn as nn
import torch.nn.functional as F

In [40]:
# Instantiate PytorchMultiClass with the correct number of input feature and save it into a variable called model
from src.models.pytorch import PytorchMultiClass

model = PytorchMultiClass(X_train.shape[1])

In [41]:
# Import get_device() from src.models.pytorch and set model to use the device available
from src.models.pytorch import get_device

device=get_device()
model.to(device)

PytorchMultiClass(
  (layer_1): Linear(in_features=5, out_features=850, bias=True)
  (layer_out): Linear(in_features=850, out_features=104, bias=True)
)

# Train Model

In [42]:
# Instantiate a nn.CrossEntropyLoss() and save it into a variable called criterion
criterion=nn.CrossEntropyLoss()

In [43]:
# Instantiate a torch.optim.Adam() optimizer with the model's parameters and 0.1 as learning rate and save it into a variable called optimizer
optimizer=torch.optim.Adam(model.parameters(),lr=0.1)

In [44]:
# Create 2 variables called N_EPOCHS and BATCH_SIZE that will take respectively 50 and 32 as values
N_EPOCHS = 50
BATCH_SIZE = 200

In [45]:
# Create a for loop that will iterate through the specified number of epochs and will train the model with the training set and assess the performance on the validation set and print their scores
from src.models.pytorch import train_classification, test_classification

for epoch in range(N_EPOCHS):
    train_loss, train_acc = train_classification(train_dataset, model=model, criterion=criterion, optimizer=optimizer, batch_size=BATCH_SIZE, device=device)
    valid_loss, valid_acc = test_classification(val_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)

    print(f'Epoch: {epoch}')
    print(f'\t(train)\t|\tLoss: {train_loss:.4f}\t|\tAcc: {train_acc * 100:.1f}%')
    print(f'\t(valid)\t|\tLoss: {valid_loss:.4f}\t|\tAcc: {valid_acc * 100:.1f}%')

Epoch: 0
	(train)	|	Loss: 0.0277	|	Acc: 7.8%
	(valid)	|	Loss: 0.0200	|	Acc: 12.1%
Epoch: 1
	(train)	|	Loss: 0.0196	|	Acc: 12.2%
	(valid)	|	Loss: 0.0186	|	Acc: 14.5%
Epoch: 2
	(train)	|	Loss: 0.0191	|	Acc: 13.4%
	(valid)	|	Loss: 0.0186	|	Acc: 14.0%
Epoch: 3
	(train)	|	Loss: 0.0190	|	Acc: 13.4%
	(valid)	|	Loss: 0.0184	|	Acc: 14.8%
Epoch: 4
	(train)	|	Loss: 0.0190	|	Acc: 12.9%
	(valid)	|	Loss: 0.0184	|	Acc: 15.0%
Epoch: 5
	(train)	|	Loss: 0.0190	|	Acc: 13.2%
	(valid)	|	Loss: 0.0183	|	Acc: 15.9%
Epoch: 6
	(train)	|	Loss: 0.0189	|	Acc: 13.4%
	(valid)	|	Loss: 0.0184	|	Acc: 14.6%
Epoch: 7
	(train)	|	Loss: 0.0189	|	Acc: 13.6%
	(valid)	|	Loss: 0.0186	|	Acc: 13.4%
Epoch: 8
	(train)	|	Loss: 0.0191	|	Acc: 13.0%
	(valid)	|	Loss: 0.0185	|	Acc: 14.1%
Epoch: 9
	(train)	|	Loss: 0.0190	|	Acc: 13.0%
	(valid)	|	Loss: 0.0183	|	Acc: 15.2%
Epoch: 10
	(train)	|	Loss: 0.0189	|	Acc: 13.5%
	(valid)	|	Loss: 0.0183	|	Acc: 14.4%
Epoch: 11
	(train)	|	Loss: 0.0190	|	Acc: 13.4%
	(valid)	|	Loss: 0.0184	|	Acc: 14.2%
Epoch: 12
	(train)	|	Loss: 0.0189	|	Acc: 13.2%
	(valid)	|	Loss: 0.0184	|	Acc: 14.1%
Epoch: 13
	(train)	|	Loss: 0.0190	|	Acc: 13.4%
	(valid)	|	Loss: 0.0185	|	Acc: 13.5%
Epoch: 14
	(train)	|	Loss: 0.0190	|	Acc: 13.3%
	(valid)	|	Loss: 0.0185	|	Acc: 14.6%
Epoch: 15
	(train)	|	Loss: 0.0190	|	Acc: 13.4%
	(valid)	|	Loss: 0.0184	|	Acc: 14.3%
Epoch: 16
	(train)	|	Loss: 0.0190	|	Acc: 13.0%
	(valid)	|	Loss: 0.0184	|	Acc: 14.3%
Epoch: 17
	(train)	|	Loss: 0.0189	|	Acc: 13.7%
	(valid)	|	Loss: 0.0183	|	Acc: 14.2%
Epoch: 18
	(train)	|	Loss: 0.0189	|	Acc: 13.4%
	(valid)	|	Loss: 0.0183	|	Acc: 15.0%
Epoch: 19
	(train)	|	Loss: 0.0189	|	Acc: 13.2%
	(valid)	|	Loss: 0.0184	|	Acc: 13.6%
Epoch: 20
	(train)	|	Loss: 0.0190	|	Acc: 13.4%
	(valid)	|	Loss: 0.0185	|	Acc: 14.0%
Epoch: 21
	(train)	|	Loss: 0.0189	|	Acc: 13.8%
	(valid)	|	Loss: 0.0183	|	Acc: 14.4%
Epoch: 22
	(train)	|	Loss: 0.0190	|	Acc: 13.3%
	(valid)	|	Loss: 0.0183	|	Acc: 15.2%
Epoch: 23
	(train)	|	Loss: 0.0189	|	Acc: 13.4%
	(valid)	|	Loss: 0.0184	|	Acc: 14.2%
Epoch: 24
	(train)	|	Loss: 0.0189	|	Acc: 13.3%
	(valid)	|	Loss: 0.0183	|	Acc: 13.7%
Epoch: 25
	(train)	|	Loss: 0.0190	|	Acc: 13.0%
	(valid)	|	Loss: 0.0184	|	Acc: 15.7%
Epoch: 26
	(train)	|	Loss: 0.0190	|	Acc: 13.0%
	(valid)	|	Loss: 0.0184	|	Acc: 14.2%
Epoch: 27
	(train)	|	Loss: 0.0190	|	Acc: 13.3%
	(valid)	|	Loss: 0.0182	|	Acc: 14.3%
Epoch: 28
	(train)	|	Loss: 0.0190	|	Acc: 13.1%
	(valid)	|	Loss: 0.0183	|	Acc: 15.0%
Epoch: 29
	(train)	|	Loss: 0.0191	|	Acc: 13.0%
	(valid)	|	Loss: 0.0184	|	Acc: 14.4%
Epoch: 30
	(train)	|	Loss: 0.0192	|	Acc: 12.8%
	(valid)	|	Loss: 0.0186	|	Acc: 12.5%
Epoch: 31
	(train)	|	Loss: 0.0191	|	Acc: 13.5%
	(valid)	|	Loss: 0.0185	|	Acc: 14.1%
Epoch: 32
	(train)	|	Loss: 0.0191	|	Acc: 13.2%
	(valid)	|	Loss: 0.0183	|	Acc: 14.8%
Epoch: 33
	(train)	|	Loss: 0.0191	|	Acc: 13.1%
	(valid)	|	Loss: 0.0184	|	Acc: 14.1%
Epoch: 34
	(train)	|	Loss: 0.0191	|	Acc: 13.3%
	(valid)	|	Loss: 0.0184	|	Acc: 14.2%
Epoch: 35
	(train)	|	Loss: 0.0190	|	Acc: 13.4%
	(valid)	|	Loss: 0.0186	|	Acc: 12.6%
Epoch: 36
	(train)	|	Loss: 0.0192	|	Acc: 12.7%
	(valid)	|	Loss: 0.0187	|	Acc: 13.4%
Epoch: 37
	(train)	|	Loss: 0.0191	|	Acc: 13.5%
	(valid)	|	Loss: 0.0184	|	Acc: 14.3%
Epoch: 38
	(train)	|	Loss: 0.0191	|	Acc: 13.1%
	(valid)	|	Loss: 0.0184	|	Acc: 14.6%
Epoch: 39
	(train)	|	Loss: 0.0190	|	Acc: 13.2%
	(valid)	|	Loss: 0.0183	|	Acc: 15.7%
Epoch: 40
	(train)	|	Loss: 0.0190	|	Acc: 13.6%
	(valid)	|	Loss: 0.0185	|	Acc: 14.2%
Epoch: 41
	(train)	|	Loss: 0.0189	|	Acc: 13.7%
	(valid)	|	Loss: 0.0185	|	Acc: 14.6%
Epoch: 42
	(train)	|	Loss: 0.0189	|	Acc: 13.5%
	(valid)	|	Loss: 0.0183	|	Acc: 15.4%
Epoch: 43
	(train)	|	Loss: 0.0189	|	Acc: 13.1%
	(valid)	|	Loss: 0.0184	|	Acc: 15.5%
Epoch: 44
	(train)	|	Loss: 0.0191	|	Acc: 13.4%
	(valid)	|	Loss: 0.0185	|	Acc: 14.5%
Epoch: 45
	(train)	|	Loss: 0.0190	|	Acc: 12.9%
	(valid)	|	Loss: 0.0183	|	Acc: 14.4%
Epoch: 46
	(train)	|	Loss: 0.0190	|	Acc: 13.3%
	(valid)	|	Loss: 0.0183	|	Acc: 15.3%
Epoch: 47
	(train)	|	Loss: 0.0190	|	Acc: 13.5%
	(valid)	|	Loss: 0.0184	|	Acc: 14.3%
Epoch: 48
	(train)	|	Loss: 0.0189	|	Acc: 13.8%
	(valid)	|	Loss: 0.0184	|	Acc: 14.9%
Epoch: 49
	(train)	|	Loss: 0.0190	|	Acc: 13.1%
	(valid)	|	Loss: 0.0184	|	Acc: 13.8%

In [282]:
# Save the model into the models folder
# torch.save(model,"../models/pytorch_multi_beer_evaluation.pt")

In [46]:
# Save the model state_dict into the models folder
torch.save(model.state_dict(), "../models/pytorch_multi_beer.pt")

In [47]:
#  Assess the model performance on the testing set and print its scores
test_loss, test_acc = test_classification(test_dataset, model=model, criterion=criterion, batch_size=BATCH_SIZE, device=device)
print(f'\tLoss: {test_loss:.4f}\t|\tAccuracy: {test_acc:.1f}')

	Loss: 0.0184	|	Accuracy: 0.1